.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #7d7d7d; 
}
.table-view .column-header .label{
    -fx-font-size: 14pt;
   -fx-text-fill: white;
   
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
    -fx-cell-size: 40;
   -fx-font-family: "Arial";
   -fx-font-size: 12pt;
  -fx-alignment: center-left;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;

}
